* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #fff0f6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 1100px;
  height: 650px;
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  box-shadow: 0 20px 60px rgba(255, 111, 174, 0.25);
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 260px;
  background: linear-gradient(180deg, #ff6fae, #ff9acb);
  padding: 30px;
  color: #fff;
}

.logo {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

.nav-btn {
  width: 100%;
  background: transparent;
  border: none;
  color: #fff;
  padding: 14px 18px;
  border-radius: 14px;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: background 0.3s;
}

.nav-btn.active,
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.25);
}

/* Content */
.content {
  flex: 1;
  padding: 40px;
  overflow-y: auto;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

h2 {
  margin-bottom: 24px;
  color: #ff4f9a;
}

.day {
  margin-bottom: 30px;
}

.day h3 {
  margin-bottom: 14px;
  color: #555;
}

/* Cards */
.card {
  background: #fff;
  border-radius: 16px;
  padding: 16px 20px;
  box-shadow: 0 10px 30px rgba(255, 111, 174, 0.15);
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subject {
  font-weight: 500;
}

.time,
.deadline {
  color: #ff6fae;
  font-size: 14px;
}

.homework {
  flex-direction: column;
  align-items: flex-start;
}

.task {
  margin: 8px 0;
  color: #555;
}

.add-btn {
    background: #ff6fae;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 14px;
    cursor:pointer;
    margin-bottom: 10px;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items:center;

}

.hidden {
    display: none;
}

.modal-content {
    background:white;
    padding: 10px;
    border-radius: 20px;
    width:350px;
    box-shadow: 0 20px 40px rgba(255,111,174,.3);
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    margin-bottom: 12px;
    padding:10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}
.modal-content button {
    width: 100%;
    background: #ff6fae;
    color:white;
    border: none;
    padding: 12px;
    border-radius:12px;
}



